body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262626;
    color: white;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 500px;
}
table{

}
h1{
    font-size: 45px;
    font-style: italic;
}
h2,h1,h3{
    margin: 0;
    padding: 0;
}
table tr{

}
table tr td{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 60px;
    cursor: pointer;
}
table tr td:hover{
    background-color: yellow;
    color: red;
}
button{
    border: 0;
    outline: 0;
    padding: 10px;
    font-size: 20px;
    color: white;
    background-color: red;
    margin: 20px 0 ;
}
button:hover{
    color: red;
    background-color: white;
}
div{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}
.score{
    position: fixed;
    bottom: 20px;
    right: 10px;
    color: white;
    font-size: 14px;
    text-align: center;
}
.score h3{
    margin: 0;
    padding: 0;
}
.score__box{
    display: flex;
}

.score__box .players{
    margin: 0px 5px;
    font-weight: 900;
}
.score__box .player1{
    color: red;
}
.score__box .player2{
    color: blue;
}
.score__box .players__score{
    display: block;
    margin: 0;
    padding: 0;
   height: 10px;

}